.slider {
    width: 45% !important;
    margin: 0 auto;
    user-select: none;
}

.previousButton,
.nextButton {
    align-items: center;
    transform: scale(1) !important;
    transition: all 0.3s ease-in-out;
}

.previousButton svg polygon,
.nextButton svg polygon {
    fill: rgba(235, 50, 4, 0.548);
}

.disabled {
    display: none !important;
    opacity: 0 !important;
}

.disabled {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .slider {
        width: 100% !important;
    }

}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-items:not(:first-child)::before {
    content: '/';
    padding: 0 8px;
    color: #5e5e5e63;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: -5px;
}