/* mobile menu */
.hamburger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.mobilebg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 10%;
    position: fixed;
}

.bar {
    width: 100%;
    height: 3.5px;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.hamburger-menu .bar:nth-child(2) {
    transform: translateX(5px);
}

.hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
    transform: scaleX(0);
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


.underlineffect {
    position: relative;
}


.underlineffect:not(.active)::before {
    content: "";
    position: absolute;
    width: 110%;
    height: 2px;
    bottom: 2px;
    left: 0;
    z-index: -1;
    background-color: #333;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.underlineffect:not(.active):hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.underlineffect .acitve {
    color: red !important;
}