.title-bg {
    background-color: rgb(240, 248, 255);
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 80%);
    border-radius: 5px;
}


.bg-aboutus {
    background: linear-gradient(90deg, rgba(106, 4, 15, .8) 0%, rgba(231, 93, 4, .8) 100%), url(../assets/factory2.jpg);
    /* background: url(../assets/factory2.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 150%;
    background-attachment: fixed;
}


.underline-style {
    position: relative;
    display: inline-block;
    padding-bottom: -5px;
}

.underline-style::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 6px;
    left: 1rem;
    right: 1.2rem;
    display: block;
    height: 12px;
    background: #ede862;
}

.underline-style-ts::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 6px;
    width: 100%;
    left: 0;
    right: 0;
    display: block;
    height: 12px;
    background: #ede862;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}